**Adding elements in the list**

In [1]:
# Adding of elements in the last list
l = []
l.append(10)
l.append('durga')
l

[10, 'durga']

In [2]:
l.append(['cnb'])
l

[10, 'durga', ['cnb']]

In [3]:
# Adding the elements in the specified position
list_2 = [10,20,30,40]
list_2.insert(1,100)
list_2
list_2.insert(3,200)
list_2

[10, 100, 20, 200, 30, 40]

In [4]:
# if the specified index in the insert greater thn the max  indesx in the list , the value will be aded in the last position
list_2.insert(100,1000)
list_2

[10, 100, 20, 200, 30, 40, 1000]

In [5]:
# if the specified index is smaaaller than 0 then the number will be added to the zeroeth index
list_2.insert(-100,99)
list_2

[99, 10, 100, 20, 200, 30, 40, 1000]

In [6]:
# to add elements in the given sequence to the list
list_2
list_3 = ['durga']
list_2.extend(list_3)

In [7]:
list_2.extend('bhaskar')

In [8]:
list_2

[99,
 10,
 100,
 20,
 200,
 30,
 40,
 1000,
 'durga',
 'b',
 'h',
 'a',
 's',
 'k',
 'a',
 'r']

In [9]:
list_2.extend(['london'])
list_2

[99,
 10,
 100,
 20,
 200,
 30,
 40,
 1000,
 'durga',
 'b',
 'h',
 'a',
 's',
 'k',
 'a',
 'r',
 'london']

In [10]:
# you cant add more than elements in the list
l1 = [10,20,30]
l2 = [40,50]
l3 = [60,70]
print(l1.extend(l2,l3))

TypeError: list.extend() takes exactly one argument (2 given)

In [11]:
l1.extend(l2)
l1

[10, 20, 30, 40, 50]

**Removing elements from the list**

In [12]:
l1 = [10,20,30,40,50]
print(l1)

[10, 20, 30, 40, 50]

In [13]:
# remove the specified element from the list if there is only one such element
l1.remove(20)
l1

[10, 30, 40, 50]

In [14]:
# remove the specified eleemnt from the list if there are multiple such elements.only first elemet will  be removed
l2 = [10,10,10,20,60,40,50,60,60]
l2.remove(60)
l2

[10, 10, 10, 20, 40, 50, 60, 60]

In [15]:
# removes and returns the  element in the last index.After all the elements are removed, it will show error
l3 = ['chick','mutton','fish','kf','ko']
print(l3.pop())
print(l3.pop())
print(l3.pop())
print(l3.pop())
print(l3.pop())
print(l3.pop())

ko
kf
fish
mutton
chick

IndexError: pop from empty list

In [16]:
# removees the element  and returns the element in the specified index
l4 = ['chick','mutton','fish','kf','ko']
print(l4.pop(2))

fish

In [17]:
l4

['chick', 'mutton', 'kf', 'ko']

In [18]:
# remove all the elements in the list
print(l4.clear())

None

In [19]:

l4

[]

**Aliasing of lists**

In [20]:
l1 = [1,2,3,4]

In [21]:
print(id(l1))

2021315742400

In [22]:
l2 = l1

In [23]:
print(id(l2))

2021315742400

**Any change in l1 will be reflected into l2 , hence to overcome this cloaning is invented**

**Cloaning**

In [24]:
l3 = l1.copy()

In [25]:
l3

[1, 2, 3, 4]

In [26]:
print(id(l1))

2021315742400

In [27]:
print(id(l3))

2021315758272

**there is no cloaning in tuple**

In [28]:
t4 = (1,2,3)

In [29]:
t5 = t4.copy()

AttributeError: 'tuple' object has no attribute 'copy'

**+ and ***

**+ is for the concatination of lists**

In [30]:
l5 = [10,20,30]
l6 = [40,50,60]
l7 = [70,80,90]
l8 = l5 + l6 +l7
print(l8)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

*** is for repetition**

In [31]:
l9 = [100,200,300,400,500]
l10 = l9 * 4
print(l10)

[100, 200, 300, 400, 500, 100, 200, 300, 400, 500, 100, 200, 300, 400, 500, 100, 200, 300, 400, 500]

**sorted and reverse**

**reverse: reverses the elements in the list**

In [32]:
l1 = ['chicken','mutton','fish','kf','ko']

In [33]:
l1.reverse()
print(l1)

['ko', 'kf', 'fish', 'mutton', 'chicken']

In [34]:
l1

['ko', 'kf', 'fish', 'mutton', 'chicken']

In [35]:
l2 = ['456',2,8,[1,2,4]]

In [36]:
l2.reverse()
print(l2)

[[1, 2, 4], 8, 2, '456']

**sort (Ascending/Descending)**

In [37]:
l1 = ['chicken','mutton','fish','kf','ko']

**Ascending**

In [38]:
l1.sort()

In [39]:
l1

['chicken', 'fish', 'kf', 'ko', 'mutton']

In [40]:
l2 = [2,8,[1,2,4]]
l2.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

**Descending**

In [41]:
l1 = ['chicken','mutton','fish','kf','ko']

In [42]:
l1.sort(reverse = True)

In [43]:
l1

['mutton', 'ko', 'kf', 'fish', 'chicken']

In [44]:
l1 = [12,45,1,34,86,34,2]
l1.sort(reverse = True)

In [45]:
l1

[86, 45, 34, 34, 12, 2, 1]

**sorted**

In [46]:
l1 = ['chicken','mutton','fish','kf','ko']

In [47]:
sorted(l1)

['chicken', 'fish', 'kf', 'ko', 'mutton']

In [48]:
l1

['chicken', 'mutton', 'fish', 'kf', 'ko']

In [49]:
sorted(l1,reverse = True)

['mutton', 'ko', 'kf', 'fish', 'chicken']

**comparision of elements in the list**

In [50]:
x = ['Dog','Cat','Rat']
y = ['Dog','Cat','Rat']
z = ['DOG','CAT','RAT']

In [51]:
print(x == y)

True

In [52]:
print(x == z)

False

In [53]:
print(y == z)

False

In [54]:
print(x < y)

False

In [55]:
print(x is x)

True

In [56]:
print(x is y)

False

**element wise comparision**

In [57]:
x = [20,40,30]
y = [30,50,60,100,200]

In [58]:
print(x < y)

True

**membership operator**

In [59]:
l1 = [10,20,30,40]
print(10 in l1)

True

In [60]:
print(-10 in l1)

False

In [61]:
l1 = [[10,20],30,40]
print(10 in l1)
print([10,20]in l1)

False
True

**Nested Lists**

In [62]:
l = [10,20,[30,40]]

In [63]:
l[0]

10

In [64]:
l[2]

[30, 40]

In [65]:
l[2][0]

30

In [66]:
l[2][1]

40

**Representation of Nested Lists as matrix**

In [67]:
l = [[10,20,30],[40,50,60],[70,80,90]]
for x in l:
    print(x)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [68]:
l = [[10,20,30],[40,50,60],[70,80,90]]
for x in l:
    print(x,  end = '')

[10, 20, 30][40, 50, 60][70, 80, 90]

In [69]:
for x in l:
    for r in x:
        print(r)

10
20
30
40
50
60
70
80
90

In [70]:
for x in l:
    for c in x:
        print(c , end = ' # ')

10 # 20 # 30 # 40 # 50 # 60 # 70 # 80 # 90 #

**List comprehendion**

**syntax**

**write a first letter of the letter in list  l  in lower case**

In [71]:
 l = ['Balaiah','Chiranjeevi','Nagarjuna','Venkatesh']
    
[x[0].lower() for x in l ]

['b', 'c', 'n', 'v']

**To get the list of values present in l1 but not in l2**

In [72]:
l1 = [10,20,30,40]
l2 = [30,40,50,60]

[x for x in l1 if x not in l2]

[10, 20]

**Find the individual words and the length  of each word**

In [73]:
s = 'The quick brown fox jumps over the lazy dog'
[print([w.upper(),len(w)],end = '') for w in s.split()]

['THE', 3]['QUICK', 5]['BROWN', 5]['FOX', 3]['JUMPS', 5]['OVER', 4]['THE', 3]['LAZY', 4]['DOG', 3]

[None, None, None, None, None, None, None, None, None]

**Print the letters containing vowels**

In [74]:
s = 'The quick brown fox jumps over the lazy dog nhjk mghtr jgrl mnypr  htrtvg'
vowel = ['a','e','i','o','u']
list(set([i for i  in s.split()  for x in i  if x in vowel]))

['quick', 'the', 'jumps', 'over', 'lazy', 'The', 'brown', 'fox', 'dog']

**min and max**

In [75]:
l = [10,20,30,78,90,100]
print(min(l))
print(max(l))

10
100

**tuples**

In [76]:
t1 = (10,20,30,40)
type(t1)

tuple

In [77]:
t2 = 10,20,30,40
type(t2)

tuple

**we cant to be allowed to use a single value in tuple because it acts as an int**

In [78]:
t3 = (10)
type(t3)

int

**single valued tuple should be represented  by ,**

In [79]:
t4 = (10,)
type(t4)

tuple

**empty tuple**

In [80]:
t5 = ()
type(t5)

tuple

**Creation of tuple**

***tuple(list)
tuple(string)
tuple(range)***

In [81]:
# tuple(string)
t6 = tuple('Bhaskar')
t6

('B', 'h', 'a', 's', 'k', 'a', 'r')

In [82]:
# tuple(list)
l = [10,20,30]
t7 = tuple(l)
t7

(10, 20, 30)

In [83]:
#tuple(range)
t8 = tuple(range(5,20,2))
t8

(5, 7, 9, 11, 13, 15, 17, 19)

In [84]:
t = (10,20,30,40)

**Access elements from the tuple**

In [85]:
print(t[0])

10

In [86]:
print(t[-1])

40

In [87]:
print(t[-10])

IndexError: tuple index out of range

**concatenation of tuple**

In [88]:
t1 = (10,20,30)
t2 = (40,50,60)
t3 = (70,80,90,100)
t4 = t1 + t2 +t3
print(t4)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

**Repetition of tuples**

In [89]:
t5 = (10,20,30,4050)
t6 = t5 *3 
print(t6)

(10, 20, 30, 4050, 10, 20, 30, 4050, 10, 20, 30, 4050)

**sorted (Sorted gives list output)**

In [90]:
t7 = (10,30,50,21)
print(sorted(t7))

[10, 21, 30, 50]

**Sorted in descending order**

In [91]:
print(sorted(t7,reverse = True))

[50, 30, 21, 10]

**Min and Max**

In [92]:
min(t7)

10

In [93]:
max(t7)

50

**Removing elements from tuple**

In [94]:
t1 = (10,20,30)
t1.remove(20)

AttributeError: 'tuple' object has no attribute 'remove'

**Accessing the elements in the tuple**

In [95]:
t = (10,20,30)

In [96]:
print(t[0])
print(t[1])
print(t[2])
print(t[-1])

10
20
30
30

**Tuple packing**

In [97]:
a = 10
b = 20
c = 30
d = 40
t = a,b,c,d
print(t)
type(t)

(10, 20, 30, 40)

tuple

**Tuple Unpacking**

In [98]:
t1 = (10,20,30,40)
p,q,r,s = t1
print('p = {},q = {},r = {},s = {}'.format(p,q,r,s))

p = 10,q = 20,r = 30,s = 40

**Tuple comprehension (There is no tuple comprehension as  list comprehension)**

In [99]:
t = ( x for x in range(10))
print(t)

<generator object <genexpr> at 0x000001D69FDBBCF0>

**SET**

**Creation of set**

**S = set(list)**

In [100]:
l = [10,10,20,20,30,30]
print(set(l))

{10, 20, 30}

**s = set(range)**

In [101]:
s = set(range(6))
print(s)

{0, 1, 2, 3, 4, 5}

**s = set(tuple)**

In [102]:
t = (3,4,5,5,6)
print(set(t))

{3, 4, 5, 6}

**s = set(string)**

In [103]:
print(set('Bhaskar'))
print(set('aaabbbccc'))

{'h', 'B', 'a', 'r', 's', 'k'}
{'c', 'a', 'b'}

**empty set**

In [104]:
s = set()
print(s)

set()

**Addition of elements in the set (add will only add one element that is integer and string)**

In [105]:
s.add(10)
print(s)
s.add(20)
print(s)
s.add(40)
print(s)
s.add(50)
print(s)
s.add('100')
print(s)
s.add('durga')
print(s)

{10}
{10, 20}
{40, 10, 20}
{40, 10, 20, 50}
{'100', 40, 10, 50, 20}
{'100', 40, 10, 'durga', 50, 20}

**Addition of sequences**

**update(x,y,z)**

**x may be list**

**y may be tuple**

**z may be range**

In [106]:
s = set()
s.update('durga')
print(s)
s.update([10,20,30])
print(s)
s.update((40,50,60))
print(s)
s.update(range(1,20,3),[88,99])
print(s)

{'g', 'd', 'a', 'r', 'u'}
{'g', 10, 'd', 'a', 20, 'r', 30, 'u'}
{'g', 40, 10, 'd', 50, 'a', 20, 'r', 60, 30, 'u'}
{1, 4, 7, 10, 13, 16, 19, 'a', 20, 'r', 30, 40, 'd', 50, 60, 'g', 88, 'u', 99}

**you cant add a integers using update**

In [107]:
s = set()
s.update(100,101)

TypeError: 'int' object is not iterable

**Aliasing of set**

In [108]:
s1 = {10,20,30,40}
s2 = s1
print(s2)

{40, 10, 20, 30}

**Cloning**

In [109]:
s3 = {50,60,70,80}
s4 = s3.copy()
print(s4)

{80, 50, 60, 70}

**Removing  and showing out  Elements from the set**

In [110]:
s5 = {90,100,110,120,130,140}
print(s5)

{130, 100, 120, 90, 140, 110}

In [111]:
print(s5.pop())

130

In [112]:
print(s5.pop())

100

In [113]:
print(s5.pop())

120

In [114]:
print(s5.pop())
print(s5)

90
{140, 110}

In [115]:
print(s5.pop())
print(s5)

140
{110}

In [116]:
print(s5.pop())
print(s5)

110
set()

In [117]:
print(s5.pop())
print(s5)

KeyError: 'pop from an empty set'

**Removing a particular element**

In [118]:
s6 = {100,200,300,400}
print(s6.remove(200))
print(s6)

None
{100, 400, 300}

**Discard**

In [119]:
s7 = {100,200,300,400,500}
print(s7.discard(100))
print(s7)

None
{400, 500, 200, 300}

In [120]:

print(s7.discard(200))
print(s7)

None
{400, 500, 300}

In [121]:

print(s7.discard(300))
print(s7)

None
{400, 500}

In [122]:

print(s7.discard(400))
print(s7)

None
{500}

In [123]:

print(s7.discard(500))
print(s7)

None
set()

In [124]:

print(s7.discard())
print(s7)

TypeError: set.discard() takes exactly one argument (0 given)

**clearing all elements from the set at once**

In [125]:
  print(s8.clear())
print(s8)

None
set()

In [126]:
x = {10,20,30,40}
y = {30,40,50,60}

In [127]:
x.union(y)

{10, 20, 30, 40, 50, 60}

In [128]:
x.intersection(y)

{30, 40}

In [129]:
x.difference(y)

{10, 20}

In [130]:
y.difference(x)

{50, 60}

In [131]:
x.symmetric_difference(y)

{10, 20, 50, 60}

In [132]:
x = {10,20,30,40}
y = {30,40,50,60}
z = {70,80,90,100,30}
x.union(y,z)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [133]:
x.intersection(y,z)

{30}

In [134]:
x.difference(y,z)

{10, 20}

In [135]:
x.symmetric_difference(y,z)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

**Dictionary**

**Creation of empty sets**

In [136]:
d1 = {}
d2 = dict()

In [137]:
print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

**How to add key values one at a time**

In [138]:
d1['A']='Apple'
d1['B']='Banana'
d1['C']='Carrot'

In [139]:
d1

{'A': 'Apple', 'B': 'Banana', 'C': 'Carrot'}

**How to add  multiple key values  at a time**

In [140]:
d = dict({100:'ravi',200:'shiva'})
d

{100: 'ravi', 200: 'shiva'}

In [141]:
d = dict([(100,'ravi'),(200,'shiva')])
d

{100: 'ravi', 200: 'shiva'}

In [142]:
type(d)

dict

**There would not be duplicate keys.If the specified key is already there then it would be replaced by the new value**

In [143]:
d1['C']='Cherry'

In [144]:
d1

{'A': 'Apple', 'B': 'Banana', 'C': 'Cherry'}

In [145]:
d1['D']='Drumstick'

In [146]:
d1

{'A': 'Apple', 'B': 'Banana', 'C': 'Cherry', 'D': 'Drumstick'}

**How to access elements from the dictionary**

In [147]:
d1

{'A': 'Apple', 'B': 'Banana', 'C': 'Cherry', 'D': 'Drumstick'}

In [148]:
d1['B']

'Banana'

In [149]:
d1['D']

'Drumstick'

In [150]:
d1 = dict([(100,'durga'),(200,'bhaskar'),(300,'johny'),(400,'stuart')])
d1

{100: 'durga', 200: 'bhaskar', 300: 'johny', 400: 'stuart'}

**Remove a key-value pair from the dictionary**

In [151]:
del d1[100]

In [152]:
d1

{200: 'bhaskar', 300: 'johny', 400: 'stuart'}

In [153]:
del d1[200,300]

KeyError: (200, 300)

In [154]:
d1

{200: 'bhaskar', 300: 'johny', 400: 'stuart'}

**Remove all elements from d1**

In [155]:
d1.clear()

In [156]:
print(d1)

{}

In [157]:
d1 = {100:'rahul',200:'shiva',300:'durga',400:'prasad'}
d1

{100: 'rahul', 200: 'shiva', 300: 'durga', 400: 'prasad'}

In [158]:
type(d1)

dict

**use pop to remove a specefic key and return a value**

In [159]:
print(d1.pop(100))

rahul

In [160]:
print(d1)

{200: 'shiva', 300: 'durga', 400: 'prasad'}

In [161]:
print(d1.pop(200,300))

shiva

In [ ]:
print(d1)

In [ ]:
print(d1.pop(300,'prasad'))

In [162]:
print(d1)

{300: 'durga', 400: 'prasad'}

**Popitem : removes a random key-value pair**

In [163]:
d1 = {100:'rahul',200:'shiva',300:'durga',400:'prasad'}
print(d1)
print(d1.popitem())
print(d1.popitem())
print(d1.popitem())
print(d1.popitem())
print(d1.popitem())

{100: 'rahul', 200: 'shiva', 300: 'durga', 400: 'prasad'}
(400, 'prasad')
(300, 'durga')
(200, 'shiva')
(100, 'rahul')

KeyError: 'popitem(): dictionary is empty'

In [164]:
d = dict([(100,'durga'),(200,'bhaskar'),(300,'johny'),(400,'mouni')])
d

{100: 'durga', 200: 'bhaskar', 300: 'johny', 400: 'mouni'}

**Accessing key-value pair**

In [165]:
d[100]

'durga'

In [166]:
d.get(200)

'bhaskar'

**if the specified key  is not present,there wont be any error**

In [167]:
print(d.get(500))

None

In [168]:
d[500]

KeyError: 500

**If the specified key value is not present , then the other value is returned**

In [169]:
d.get(100,'cdf')

'durga'

In [170]:
d.get(1000,'cdf')

'cdf'

**return all the keys**

In [171]:
d.keys()

dict_keys([100, 200, 300, 400])

**return all values**

In [172]:
d.values()

dict_values(['durga', 'bhaskar', 'johny', 'mouni'])

**return all key value pairs**

In [173]:
d.items()

dict_items([(100, 'durga'), (200, 'bhaskar'), (300, 'johny'), (400, 'mouni')])

**number of key value pairs**

In [174]:
len(d)

4

In [175]:
d1 = {100:'durga',200:'ravi',300:'shiva'}

In [176]:
d2 = {400:'pavan'}

**Aliasing**

In [177]:
d3 = d1.copy()
print(d3)

{100: 'durga', 200: 'ravi', 300: 'shiva'}

**setdefault(k,v): if the key is available it returns the corresponding value, if not it adds the v value**

In [178]:
d1

{100: 'durga', 200: 'ravi', 300: 'shiva'}

In [179]:
d1.setdefault(300,'pavan')

'shiva'

In [180]:
d1.setdefault(400,'pavan')
print(d1)

{100: 'durga', 200: 'ravi', 300: 'shiva', 400: 'pavan'}

In [181]:
d1 = {100:'pavan',200:'ram',300:'shiva'}
d2 = {400:'bhaskar'}

**merging two dictionaries**

In [182]:
d1.update(d2)
print(d1)

{100: 'pavan', 200: 'ram', 300: 'shiva', 400: 'bhaskar'}

In [183]:
d3 = {**d1,**d2}
print(d3)

{100: 'pavan', 200: 'ram', 300: 'shiva', 400: 'bhaskar'}

**Sorted(d1): returns keys in ascending order**

**Sorted(d1.items(): returns keys in ascending order**

In [184]:
d1 = {100:'pavan',200:'ram',300:'shiva',82:'ghus',98809:'bhfdjf'}
sorted(d1)

[82, 100, 200, 300, 98809]

In [185]:
sorted(d1.items())

[(82, 'ghus'), (100, 'pavan'), (200, 'ram'), (300, 'shiva'), (98809, 'bhfdjf')]

In [186]:
sorted(d1.values())

['bhfdjf', 'ghus', 'pavan', 'ram', 'shiva']

**merging of two lists**

In [187]:
l1 = [10,20,30,40]
l2 = [50,60,70]

In [188]:
l3 = [*l1,*l2]
l3

[10, 20, 30, 40, 50, 60, 70]

**merging of two tuples**

In [189]:
t1 = (70,80,90)
t2 = (100,110,120)
t3 = (*t1,*t2)
print(t3)

(70, 80, 90, 100, 110, 120)

**Strings**

In [191]:
s = 'abcdefghij'

**s[start:stop:stepvalue]**

**if step value is positive move from left to right**

**if step value is negative move from right to left**

**if start: stop propogation is left to right and if step size is  negative the result will be empty set and vice versa**

**if the value is not present by default it is +1**

In [192]:
s[1:7:1]

'bcdefg'

In [193]:
s[1:7:-1]

''

In [194]:
s[-1:-5:-1]

'jihg'

In [195]:
s[-1:-5:1]

''

In [196]:
s[1:7:]

'bcdefg'

**string concatination**

In [197]:
print('nag'+'bhaskar'+'chebolu')

nagbhaskarchebolu

**String repetition**

In [198]:
print('bhaskar'*5)

bhaskarbhaskarbhaskarbhaskarbhaskar

In [199]:
print('bhaskar'*-1)

In [200]:
print('cnb'*0)

In [201]:
print('bhaskar'*4)

bhaskarbhaskarbhaskarbhaskar

**length of string**

In [202]:
print(len('jfkjfkkdld;fl;ef'))

16

**membership operator**

In [203]:
print('r' in 'bhaskar')

True

In [204]:
print('r' not in 'bhaskar')

False

In [205]:
print('ha' in 'bhaskar')

True

**strip is similar to trim in sql**

**Removes the space around the word**

In [206]:
city = input('enter the city name:')
print(len(city))
print(city.strip())
print(len(city.strip()))

enter the city name:vijayawada
10
vijayawada
10

**removes the space at the left side of the word**

In [207]:
city = input('enter the city name:')
print(len(city))
print(city.lstrip())
print(len(city.lstrip()))

enter the city name:  jhhjbhfgf
11
jhhjbhfgf
9

**removes the space at the right side of the word**

In [208]:
city = input('enter the city name:')
print(len(city))
print(city.rstrip())
print(len(city.rstrip()))

enter the city name:jknk
4
jknk
4

**find(substring)**

In [292]:
s = 'durga sir classes are the best classes'

In [293]:
print(s.find('class'))

10

In [294]:
print(s.rfind('classes'))

31

In [295]:
s= "abcdefgfedcba"
print(s.find('b'))

1

In [296]:
s = "abcdefgfedbca"
print(s.rfind('b'))

10

**output will be -1 if the value is not present**

In [297]:
s= "abcdefghgfedcba"
print(s.find('vjkjk'))

-1

**find(substring,begin,end) where begin is of start index and end is ending index**

In [298]:
s= "abcdefghgfedcba"
print(s.find('fgh',2,14))

5

**we will get error if the substring is not there,unlike find , we get -1**

In [299]:
s = 'durga sir classes are the best classes'
print(s.index('sir'))
print(s.find('sir'))
print(s.find('zzz'))
print(s.index('zzz'))

6
6
-1

ValueError: substring not found

In [300]:
s = 'durga sir classes are the best classes'
print(s.find('sir',10,15))
print(s.index('sir',10,15))

-1

ValueError: substring not found